<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block styles %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-activity"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2" />
        </svg>
        <a class="navbar-brand" href="{% url 'chatbot:chatbot_home' %}" style="color: red;">&nbsp Kit AI</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}" style="color: red;">Home<span
                            class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'chatbot:chatbot_home' %}" style="color: red;">Chat<span
                            class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'mapping' %}" style="color: red;">Map<span
                            class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'interface:home' %}" style="color: red;">Emergency And
                        Supplies<span class="sr-only"></span></a>
                </li>



            </ul>

            <ul>
                <li>
                    <a class="nav-link" href="{% url 'users:edit_profile' %}" style="color: red;">Account<span
                            class="sr-only"></span></a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'users:logout' %}" style="color: red;">Logout<span
                            class="sr-only"></span></a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}

</body>

</html>